/* Add CSS Styling */
.odd-element {
    background-color: #ffa7a7;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.odd-element.three{
    font-size: 24px;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 32px
}

#fourth {
    background-color: #80ff80;
    font-weight: bold;
    font-size: 24px
}