/* Add CSS Styling */

.button-1 {
    background-color: black;
    color: #FFFFFF;
}

.button-2 {
    background-color: hsl(60,100,50);
}

.button-1, .button-2 {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}