body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 4px;
}
.box-clarity{
  padding: 16px 8px;
  margin: 8px;
}
.title {
  background: #e3f4ff;
  font-size: 16px;
  margin-top: 16px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 8px auto;
  padding: 8px;
}